<div class="dialog-container">
  <header>
    <mat-toolbar color="primary">
      <h2>Add model edge</h2>
      <span fxFlex>: {{modelEdge.label}}</span>
      <div [tb-help]="helpLinkIdForRuleNodeType()"></div>
      <button mat-icon-button
              (click)="cancel()"
              type="button">
        <mat-icon class="material-icons">close</mat-icon>
      </button>
    </mat-toolbar>
  </header>
  <form [formGroup]="modelEdgeForm" (ngSubmit)="save()">
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading$ | async">
    </mat-progress-bar>

    <section class="td-model-main-data">
      <mat-form-field fxFlex class="mat-block">
        <mat-label>Label</mat-label>
        <input matInput formControlName="label" required (change)="onChangeModelEdgeName()">
        <mat-error *ngIf="modelEdgeForm.controls['label'].hasError('uniqueValue')">
          The label must be unique
        </mat-error>
      </mat-form-field>
    </section>

    <div mat-dialog-actions fxLayoutAlign="end center">
      <button mat-button color="primary"
              type="button"
              [disabled]="(isLoading$ | async)"
              (click)="cancel()">
        {{ 'action.cancel' | translate }}
      </button>

      <button mat-raised-button color="primary"
              type="submit"
              [disabled]="(isLoading$ | async) || modelEdgeForm.invalid">
        Save
      </button>
    </div>
  </form>

</div>
