@import './../scss/constants';

:host {
  .dialog-container {
    min-width: 750px !important;
    max-width: 750px !important;

    @media #{$mat-lt-md} {
      min-width: 100% !important;
    }

    .td-model-main-data {
      padding: 25px;
    }
  }
}
