:host {
  display: flex;
  flex: 1;
  overflow: hidden;
  outline: none;
  height: 100%;

  .fc-container {
    display: flex;
    flex: 1;
    flex-direction: row;
    overflow: hidden;
  }

  .fc-left-pane {
    flex: 0.15;
    overflow-x: hidden;
    overflow-y: auto;
    min-width: 250px;

    #tb-data-models-list-canvas {
      background: white;
    }
  }

  .fc-central-panel-overlay {
    position: relative;
    flex: 0.6;
    display: flex;
    overflow: auto;

    .fc-central-pane {
      overflow: auto;
      width: 100%;

      .fc-canvas {

      }

      .button-overlay {
        display: flex;
        gap: 10px;
        right: 20px;
      }
    }

    .button-overlay {
      position: absolute;
      display: flex;
      gap: 10px;
      top: 40px;
      right: 20px;
      z-index: 10;
    }
  }

  .fc-divider {
    width: 3px;
    background-color: grey;
  }

  .fc-right-pane {
    flex: 0.25;
    overflow: auto;
    min-width: 250px;
    position: relative;
  }
}
